@charset "UTF-8";

@font-face {
    font-family: 'Aneliza';
    src: url(../fontes/Aneliza-Bold/Aneliza-Bold.ttf) format('opentype');
    font-weight: normal; 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --cor0: #d7d9ec;
    --cor1: #ADB1DE;
    --cor2: #6A6FDB;
    --cor3: #3F41A8;
    --cor4: #1C1D5C;
    --cor5: #05063E;

    --fonte-destaque: 'Aneliza', sans-serif; 
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor4));
    text-align: left;
    padding-top: 25px;
    min-height: 100px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.26);
    margin: 0px 0px 0px 30px;
}

header > p {
    font-family: var(--fonte-destaque);
    color: white;
    padding-top: 10px;
    font-size: 1.2em;
    margin: auto;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.26);
    margin: 0px 0px 0px 30px;

}

nav {
    text-align: right;
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    transition: 0.5s;
}

main {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    background-color: var(--cor0);
    text-decoration: none;
    padding: 2px 4px;

}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;

}

main img {
    display: block;
    margin: 25px auto;
    width: 450px;
    height: 400px;
}

h2 {
    color: var(--cor4);
    font-family: var(--fonte-titulo);
    font-weight: bolder;
    background-image: linear-gradient(to right, var(--cor0), transparent);
}

div.video {
    background-color: var(--cor5);
    padding: 15px;
    margin: 20px -20px;
    padding-bottom: 60.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 95%;
    height: 90%;
}

aside {
    background-color: var(--cor3);
    padding: 20px;
    height: 170px;
    border-radius: 10px;
    box-shadow: -2px 2px 7px 1px rgba(0, 0, 0, 0.233);
    max-width: 500px;
    margin: auto;
}

aside h3 {
    color: white;
    background-color: var(--cor4);
    font-family: var(--fonte-titulo);
    padding: 8px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
}

ul {
    color: var(--cor0);
    list-style-position: inside;
    margin-top: 40px;
    text-indent: 50px;  
}

li > a {
    background-color: var(--cor3);
    color: var(--cor0);

}

footer {
    background-color: var(--cor5);
    color: var(--cor1);
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}